:root {
    --X-x-transform-size: 15px;
    --X-y-transform-size: 40px;
    --hover-color: hsl(0, 1%, 46%);
}


.board {
    width: 100%;
    display: flex;

}
.row {
    display: flex;
    flex-direction:row;
}
.square {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
}

/* when it's O's turn, hover the circle over any square without a x or o class the mouse is on. */
.board[data-turn="o"] .square:not([class~='x']):not([class~='o']):hover::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-width: 10px;
    border-color: var(--hover-color);
    border-style:solid;
    border-radius: 999px;
    background-color:transparent;
    z-index: 999;
    transform: translate(15px, 15px);
}
/* when it's Xs turn, hover the X over any square without a x or o class the mouse is on. */
.board[data-turn="x"] .square:not([class~='x']):not([class~='o']):hover::before,
.board[data-turn="x"] .square:not([class~='x']):not([class~='o']):hover::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 75px;
    background-color: var(--hover-color);
    z-index:5;
}


.board[data-turn="x"] .square:not([class~='x']):not([class~='o']):hover::before {
    transform:  translate(var(--X-y-transform-size), var(--X-x-transform-size)) rotate(-45deg); 
}
.board[data-turn="x"] .square:not([class~='x']):not([class~='o']):hover::after {

    transform:  translate(var(--X-y-transform-size), var(--X-x-transform-size)) rotate(45deg);
}



.square.x,
.square.o {
    position: relative;
}


.square.x::before,
.square.x::after {
    content: '';
    width: 10px;
    height: 75px;
    background-color:black;
    position: absolute;
    z-index: 5;
}
.square.x::before{
    transform:  translate(var(--X-y-transform-size), var(--X-x-transform-size)) rotate(-45deg); 
}
.square.x::after {
    transform:  translate(var(--X-y-transform-size), var(--X-x-transform-size)) rotate(45deg);
}

/* Draw the circle within the 'o' class*/
.square.o::before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 999px;
    border-width: 10px;
    border-color: black;
    border-style:solid;
    background-color: white;
    transform: translate(15px, 15px);
    position: absolute;
    z-index: 5;
}



#reset {
    margin-top: 10px;
}


@media screen and (max-width: 400px) {
    .square {
        width: 50px;
        height: 50px;
    }

    .square.x::before,
    .square.x::after {
        width: 5px;
        height: calc(75px / 2);
    }
    :root {
        --X-x-transform-size: 8px;
        --X-y-transform-size: 23px;
    }
    .square.o::before {
        content: '';
        width: 25px;
        height: 25px;
        border-width: 5px;
        transform: translate(8px, 8px);
    }


}